 
<section class="section-gap studio-area">
    <div class="overlay overlay-bg"></div>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-8 offset-md-2">
          <loading-spinner *ngIf="showSpinner"></loading-spinner>
          <div class="studio-content" *ngIf="term | async as t">
            <p [froalaView]="t.content"></p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End studio Area -->
  <footer class="mt-70"></footer>