<br><br><br>
<section class="container">
  <div class="col-md-8 offset-md-2">
    <div class="section-top-border">
      <h3 class="mb-30">Search..</h3>
      <input type="text" #query (keyup)="filter(query.value)" placeholder="Search.." class="single-input">
      <section class="section-gap studio-area">
        <div class="overlay overlay-bg"></div>
        <div class="container" *ngIf="touched">
          <ng-container *ngIf="filteredLesson.length > 0 else elseTemplate">
            <div class="row align-items-center mb-30" *ngFor="let l of filteredLesson">
              <div class="col-md-4 col-sm-6 text-center">

                <div class="studio-thumb">
                  <a (click)="save(l.videoUrl)" [routerLink]="['/lesson/' , l.id]">
                    <img [src]="l.url" class="img-fluid" [alt]="l.title">
                  </a>
                </div>
              </div>

              <div class="col-md-8 col-sm-6">
                <div class="studio-content">
                  <h2>{{l.title}}</h2>
                  <p style="
                          margin-top: 0;
                          margin-bottom: 1rem;
                          width: auto;
                          white-space: nowrap;
                          overflow: hidden;
                          text-overflow: ellipsis;
                        "
                    [froalaView]="l.discription">
                  </p>
                  <a *ngIf="l.type === 'lesson'" [routerLink]="['/lesson/' , l.id]" class="primary-btn">View Lesson<span
                      class="lnr lnr-arrow-right"></span></a>
                  <a *ngIf="l.type === 'article'" [routerLink]="['/article/' , l.id]" class="primary-btn">View Article<span
                      class="lnr lnr-arrow-right"></span></a>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-template #elseTemplate>
            <div style="margin-top: -100px">
              <no-content></no-content>
            </div>
          </ng-template>
        </div>
      </section>
    </div>
  </div>
</section>

<br><br>
<div class="container text-center">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>

<footer class="mt-70"></footer>
