<div class="align-items-center">
  <loading-spinner *ngIf="!user"></loading-spinner>
</div>

<div *ngIf="user" class="row container">
  <div class="col-md-10 offset-md-1">
    <div class="section-top-border">
      <div class="row">
        <div class="col-md-5">
          <div class="container">
            <img class="img-fluid" [src]="user.url">
          </div>
        </div>
        <div class="col-md-7 mt-40">
          <div class="container">
            <h4 class="mb-30">{{user.displayName}}</h4>
            <hr>
            <p [froalaView]="user.discription"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>