
.img-fluid {
    height: 250px !important;
}

.card:hover {
	box-shadow : 0 2px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 10px 0 rgba(0, 0, 0, 0) !important;
}


@media (min-width: 768px) {
    .col-md-4 {
        flex: 0 0 32.33333% !important;
        max-width: 32.33333% !important;
    }
}

@media (max-width: 767px){
    .container {
        margin-top: 70px !important;
    }
}
