 
<div class="mt-300">
  
  <!-- Start studio Area -->
  <section class="section-gap studio-area" >
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 col-sm-6">
          <div class="studio-content">
            <div class="row">
              <div class="col-md-12">
                <h2>Reach Out to Us</h2>
                <a href="mailto:hello@teamishare.com">hello@teamishare.com</a> <br>
                <a href="mailto:info@teamishare.com">info@teamishare.com</a> <br>
                <a href="mailto:business@teamishare.com">business@teamishare.com</a>
              </div>

              <div class="col-md-12">
                <div class="single-address">
                  <h6>Let’s call us</h6>
                  <p>
                      <a href="tel:08063500211">+234-806-350-0211</a> 
                  </p>
                </div>
              </div>
              <div class="col-md-12">
                <div class="single-address">
                  <h6>Customer Support</h6>
                  <p>
                    <a href="mailto:support@gmail.com">support@teamishare.com</a> 
                    <br>
                    <a href="mailto:help@gmail.com">help@teamishare.com</a> <br>
                  </p>
                </div>
              </div>
            </div>
          </div>
  
        </div>
        <div class="col-md-6 col-sm-6 text-center">
          <div class="studio-thumb">
            <img src="assets/img/contact.png" class="img-fluid" alt="contact-image">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End studio Area -->
</div>
<footer class="mt-70"></footer>